<header class="header-top" style="border-color: #8231D3; border-bottom-style: solid;">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <div class="logo-area">
                <a class="navbar-brand" routerLink="/burritoadministrador/dash"><img src="img/logo-white.png" style="border-radius: 10px; box-shadow: 6px 6px 8px rgba(159, 159, 159, 0.15);" alt="Logo"></a>
                <a class="sidebar-toggle" (click)="toggleSidebar()" style="cursor: pointer;"><img class="svg" src="img/svg/align-center-alt.svg" alt="img"></a>
            </div>
        </div>

        <div class="navbar-right">
            <ul class="navbar-right__menu">

                <!-- Seccion del Usuario -->
                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:;" class="nav-item-toggle"><img src="img/user_avatar.png" alt="" class="rounded-circle">
                            <span class="nav-item__title">Administrador<i class="las la-angle-down nav-item__arrow"></i></span>
                        </a>
                        <div class="dropdown-parent-wrapper">
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">
                                        <img src="img/user_avatar.png" alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6>Bienvenido!</h6>
                                        <span>{{ name }}</span>
                                    </div>
                                </div>
                                <div class="nav-author__options">
                                    <ul>
                                        <li>
                                            <a routerLink="/burritoadministrador/dash">
                                                <i class="uil uil-create-dashboard"></i> Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/burritoadministrador/recursos">
                                                <i class="uil uil-book-open"></i> Libros
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="nav-author__signout" href="javascript:void(0)" (click)="cerrarSesion()">
                                        <i class="uil uil-sign-out-alt"></i> Cerrar Sesión
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</header>

<main class="main-content">

    <div class="sidebar-wrapper">
        <div class="sidebar sidebar-collapse" id="sidebar">
            <div class="sidebar__menu-group">
               <ul class="sidebar_nav">
                    <li>
                        <a routerLink="/burritoadministrador/dash">
                            <span class="nav-icon uil uil-create-dashboard"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/burritoadministrador/dash">
                            <span class="nav-icon uil uil-create-dashboard"></span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/burritoadministrador/recursos">
                            <span class="nav-icon uil uil-book-open"></span>
                            <span class="menu-text">Libros</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="cerrarSesion()">
                            <span class="nav-icon uil uil-sign-out-alt"></span>
                            <span class="menu-text">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
         </div>
      </div>
    

    <div class="contents">
        <router-outlet></router-outlet>
    </div>

</main>

<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>